:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --gap: 3rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    font-size: 62,5%;
    scroll-behavior: smooth;
}

  body {
    font-family: 'Victor Mono', monospace;
    font-size: 1.6rem;
  }
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 5.5rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  @keyframes entering{
    from { opacity: 0; transform: translatey(-200px)
}
    to {opacity: 1; transform: translatey(0);}
}

  .main-bg {
    background-image: url('./assets/img/mrporte.jpeg');
    background-size: cover;
    background-position:center center ;
    color: var(--secondary-color);
    animation: entering 0.7s ease-in-out;
  }
  .logo{
    color: var(--primary-color);
    font-size: 0.01rem;
    min-height: auto;
  }
  .white-bg {
    background: var(--secondary-color);
    color: var(--primary-color);   
  }

  .main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
  }

  .session {
    min-height: 100vh;
  }
  /*.menu-spacing{
    height: 6.4rem;
  }*/

  .menu{
    background:rgba(255, 255, 255, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid rgb(145, 145, 145);
  }

  .menu-content{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
.menu h1 {
    font-size: 1.8rem;
}
.menu h1 img {
  height: 3rem;
  border-radius: 50%;
  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box, linear-gradient(260deg,#d39e33, #ed5636, #633bbc) border-box;
}

.menu h1 a {
    text-decoration: none;
    color:rgb(145, 145, 145);
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 1.5rem;
    color: rgb(145, 145, 145);
    position: relative;
  }
  .menu ul li a::after {
   content: '';
   position: absolute;
   bottom: 1.2rem;
   left: 50%;
   width: 0;
   height: 0.2rem;
   background: crimson;
   transition: all 300ms ease-in-out;
  }

  .menu li a:hover::after {
    width: 50%;
    left: 25%;
  }

  .about{
    max-width: 80rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .about-content{
    margin-bottom: 3rem;
  }
  .gallery-content{
    text-align: center;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  .gallery-main-heading{
    margin-bottom: 1rem;
  }
  .gallery-description{
    padding-bottom: 2rem;
  }

  .gallery h2::before {
    position: absolute;
    font-size: 6.5rem;
    font-style: italic;
    top: -4rem;  
    left: -1rem;
    transform: rotate(5deg);
  }
  .gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    border: 4px solid transparent;
    background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box, linear-gradient(260deg,#d39e33, #ed5636, #633bbc) border-box;
  }
  .gallery-img img{
    transition: all 300ms ease-in-out;
  }
  .gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
  }
  .work {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }
  .work-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
  }
  .work-heading{
    margin-bottom: 1rem;
  }
  .work-description{
    padding-bottom: 3rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
  }
  .grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2rem;
  }
  .grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 3.5rem;
    font-style: italic;
    top: -1rem;
    left: -0.5rem;
    transform: rotate(5deg);
  }
  .contact{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-color);
  }
  .contact h2{
    padding-top: 1rem;
    padding-bottom:none;
  }

  .contact-content {
    display: grid;
    grid-template-columns: 112px 100px 100px;
    justify-content:center;
  }
  .contact-content img:hover {
      transform: translate(-3%, 3%) scale(1.2) ;
  }
  .contact-content h3 {
    position: relative;
    font-size: 1rem;
  }
  .contact-content a{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 2rem ;
    height: 1rem;
  }
  .contact-content img{
    width: 100px;
    height:70px;
    border-radius: 50%;
  }
  .map-box-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .map-box{
    position: relative;
    width: 600px;
    height: 440px;

  }
  .map-box h3{
    text-align: center;
    font-size: 1.5rem;
  }
  .map-box p {
    text-align: center;
    font-size: 1rem;
  }
  .map-box iframe{
  width:100%;
  height:100%;
  }
  
  footer {
    border-top: 1px solid rgb(102, 101, 101);
    color: rgb(102, 101, 101);
    font-size: 1rem;
    text-align: center;
  }
  footer a{
    text-decoration: none;
  }
  .close-menu{
    display: none;
  }
  .back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    background: var(--secondary-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 50%;
    border: 0.1rem solid var(--primary-color);
  }

@media (max-width: 800px){
  body, .gallery-content, .grid, 
  .work-content, .contact{
     grid-template-columns: 1fr;
   
   }
   .main-bg {
    background: url('./assets/img/mrporte-mobile.png');
    background-size: cover;
    background-position: center;
   }
  
  h1 {
    font-size: 4rem;
    text-transform: uppercase;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 0.8rem;
    margin-bottom: 3rem;
  }

  .gallery-img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  }
  .gallery-img img{
    width: 100%;
  }
  .menu{
    bottom: 0;
    text-align: center;
  }
  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }
  .menu-content {
    height: 100vh;
  }
  .menu {
    display: none;
  }
  .contact {
    background-size: cover;
    background-position: center;
  }
  .close-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .close-menu-label::after{
    content: '≡';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu{
    display: block;
  }
  .close-menu:checked~.close-menu-label::after {
    content: '×'
  }
  .menu-spacing{
    display: none;
  }
 .contact {
  width: 100%;
  background: var(--primary-color);
  background-size: cover;
  background-position: center;
  
 }
  .map-box h3{
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }

}